
<div class="row row-cols-1 row-cols-md-3 g-2">
    <div class="col">
      <div class="card">
        <img src="../../assets/sp.jfif" height="400px" alt="photo">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Автор :{{Avtor}}</p>
        <p class="card-text">Місцезнаходження :{{Maps}}</p>
        <p class="card-text"> Вартість більше :{{price | currency}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/pn.jfif" height="400px" alt="photo">
        <div class="card-body">
            <h5 class="card-title">{{Name}}</h5>
            <p class="card-text">Автор :{{avtor}}</p>
            <p class="card-text">Місцезнаходження :{{maps}}</p>
            <p class="card-text"> Вартість більше :{{prices | currency}}</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../assets/ivan.jfif" height="400px" alt="photo">
          <div class="card-body">
              <h5 class="card-title">{{Names}}</h5>
              <p class="card-text">Автор :{{avtors}}</p>
              <p class="card-text">Місцезнаходження :{{mapss}}</p>
              <p class="card-text"> Вартість більше :{{pricec | currency}}</p>
          </div>
        </div>
      </div>
    </div>