<div class="clearfix">
    <img src="../../assets/kyiv.jfif" class="col-md-4  float-md-end mb-3 ms-md-2 mt-4 " alt="Photo">
    <br>
    <p><strong> День 1 :</strong>
      <br>
      <br>
    {{Dn}}</p>
  
    <ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul>
  
    
  </div>

  <div class="clearfix">
    <img src="../../assets/kyiv.jfif" class="col-md-4  float-md-end mb-3 ms-md-2 mt-4 " alt="Photo">
    <br>
    <p><strong> День 2 :</strong>
      <br>
      <br>
    {{Day}}</p>

    <ul>
        <li>Найбільший в світі музей корупції</li>
        <li>Подорож на 1000 років в минуле</li>
        <li>Чорнобильська зона</li>
        <li>Скансен “Українське село”</li>
      </ul>
  
    
  </div>


  <div class="clearfix">
    <img src="../../assets/end.jfif" class="col-md-4  float-md-end mb-3 ms-md-2 mt-4 " alt="Photo">
    <br>
   <strong>{{End}}</strong> {{price | currency}} 
   <br>  
   <strong>{{Endd}}</strong>
   <ul>
    <li>трансфер від вокзалу в готель</li>
    <li>оглядова екскурсія по місту (автомобілем або автобусом)</li>
    <li>трансфер на залізничний (або авто) вокзал</li>
    <li>цілодобова онлайн-підтримка</li>
  </ul>
  <br>
  <strong>{{The}}</strong>
  <ul>
    <li>Проживання (ми забронюємо готель у відповідності з вашими побажаннями)</li>
    <li>Екскурсії та розваги за вашим вибором</li>
    <li>Харчування</li>
    <li>Особисті витрати</li>
  </ul>

    
  </div>