<div class="conteiner">

<h1>{{title}}</h1>
<h2> Вартість : {{cost}}</h2>

<div class="card" style="width: 30rem;">
    <img src="../../assets/air.jpg" alt="photo">
    <div class="card" style="width: 30rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Тип : {{tip}}</li>
          <li class="list-group-item">Довжина:{{height}} </li>
          <li class="list-group-item">Розмах крил:{{kr}}</li>
          <li class="list-group-item">Швидкість:{{speed}}</li>
        </ul>
      </div>
  </div>
</div>
