

<div class="wrapper">
    <div class="text">
      <p>Музика – це моє хобі. Музика робить мене щасливішим і змушує забути про проблеми. Я б хотіла присвятити своє життя музиці. Я думаю, що музика завжди буде частиною мене.
        І раджу кожному: якщо у вас погані дні або вам зовсім сумно, просто включите улюблену пісню. Ви побачите, що життя куди веселіше і яскравіше з хорошою музикою</p>
    
    </div>
    <div class="image">
        <img src="../../assets/muzic.png" width="300px" height="150px" alt="photo">
    </div>
  </div>

  <div class="wrapper1">
    <div class="image1">
        <img src="../../assets/muzic1.jfif" width="400px" height="200px"  alt="photo">
  </div>
  <div class="text1">
    <ul>Співаки</ul>
    <li>Монатік</li>
    <li> Jerry Heil</li>
    <li>The Hadrkiss</li>
  </div>
  </div>

