.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em;
    height: max-content;
    /* box-sizing: content-box; */
}
.text{
    padding: 1em;
    height: 400px;
    padding: 1em;   
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper1 {
    padding: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    height: max-content;
    /* box-sizing: content-box; */
    }

.text1 {
    padding: 4em;
    overflow: hidden;
   
}
li{
    list-style-type: none;
}