<div class="card-group ">
<div class="card" style="width: 10rem;">
    <img src="../../assets/van.jpg" height="348px" alt="photo">
    <div class="card-body">
        <h5 class="card-title">{{Name}}</h5>
        <p class="card-text">Автор :{{avtor}}</p>
        <p class="card-text">Місцезнаходження :{{maps}}</p>
        <a routerLink="Van" class="link" routerLinkActive="active">Come on</a>
    </div>
  </div>

  <div class="card" style="width: 10rem;">
    <img src="../../assets/Leonardo.jpg" alt="photo">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Автор :{{Avtor}}</p>
        <p class="card-text">Місцезнаходження :{{Maps}}</p>
      <a routerLink="Leo" class="link" routerLinkActive="active">Come on</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

