<div class="rezume">

<div class="image"> 

    <img src="../../assets/my-photo.jpg" width="200" height="200" alt="photo">
</div>


<div class="text">
<h1>Моє Резюме</h1>
<strong>{{name}}.</strong>
<br>
<ul class="rezume">
<li><b>Народився 13.04.2001 м.Хмельницький</b></li>
<li><b>{{email}}</b></li>
<li><b>Бажана зарплата {{salary | currency}} </b></li>
<li><b>Пройдений курс на {{course | percent}}</b></li>
<li><b>Вік {{age}}</b></li>

</ul>

<strong>Навички :</strong>

<ul class="nv">
<li><b>Комінікативні</b></li>
<li><b>Креативні</b></li>
<li><b>Соцільні</b></li>
<li><b>Персональні</b></li>
</ul>

<strong>Вміння :</strong>

<ul class="vm">
<li><b>Ui/Ux Designer</b></li>
<li><b>Педагогічніі</b></li>
</ul>

<ul class="link"> 
    <li><a href="https://www.youtube.com/">
        <img src="../../assets/youtube_14198.png" width="20px" height="20px" alt="photo"> 
    </a></li> 
    <li><a href="https://www.instagram.com/">
        <img src="../../assets/insagram.png" width="20px" height="20px" alt="photo"> 
    </a></li> 
    <li><a href="https://www.facebook.com/">
        <img src="../../assets/facebook.png" width="20px" height="20px" alt="photo"> 
    </a></li>
</ul> 
</div>
</div>
