<div class="rezume">

<div class="image"> 

    <img src="../../assets/my-photo.jpg" width="200" height="200" alt="photo">
</div>


<div class="text">
<h1>Моє Резюме</h1>
<strong>Богдан Мединський .</strong>
<br>
<p>Народився 13.04.2001 м.Хмельницький</p>
<p>Email : mbogdanp2001@gmail.com</p>
<ul><strong>Навички :</strong></ul>
<li>Комінікативні</li>
<li>Креативні</li>
<li>Соціальні</li>
<li>Персональні</li>

<ul><strong>Вміння :</strong></ul>
<li>Ui/Ux designer</li>
<li>Педагогічні</li>

<ul class="link"> 
    <li><a href="https://www.youtube.com/">
        <img src="../../assets/youtube_14198.png" width="20px" height="20px" alt="photo"> 
    </a></li> 
    <li><a href="https://www.instagram.com/">
        <img src="../../assets/insagram.png" width="20px" height="20px" alt="photo"> 
    </a></li> 
    <li><a href="https://www.facebook.com/">
        <img src="../../assets/facebook.png" width="20px" height="20px" alt="photo"> 
    </a></li>
</ul> 
</div>
</div>
