.link-wrap{
    display: flex;
    list-style: none;
    margin-top: 30px;
    margin-left: 200px;
}
.link{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background-color: rgb(165, 45, 123);
}
.container{
    max-width: 1200px;
    padding: 0 20px;
}
.active{
    background-color: rgb(40, 56, 149);
}