<div class="Biography">

    <div class="footer">
        <img src="../../assets/bill-gates.png" width="200" height="200" alt="photo">
       
        <p>Bill Gates</p>

        <ul>
            <!-- <li>Patience is a key element of success</li> -->
            <li>If you think your teacher is tough, wait till you get boss</li>
            <li>Life is not fair — get used to it!</li>
            <li>Success is a lousy teacher. Це seduces smart people in thinking they can't lose</li>
            <li>Be nice to nerds..</li>
        </ul>
    </div>

    <div class="bio">

<h2>Biography</h2>
<p>William (bill) Henry gates (1955) – entrepreneur, founder of Microsoft, the richest man in the world from 1996 to 2007.
    Primary education in the biography of bill gates was obtained in the municipal school. He then studied at a private school where I was keen on maths, first started to write small programs on the minicomputer. In 1973 gates enrolled at Harvard University. In 1975 together with Paul Allen founded the company Microsoft. In the third year left the University to devote myself to the company (subsequently, in 2007, was recognized as a Harvard graduate, received a diploma).
    1995 in a biography of gates marked by the release of the book "the Road ahead". 
    In 1996, Microsoft began to engage in the development of Internet technologies, and bill gates amended his first book.
    The second book "Business @ the speed of thought" was released in 1999
    In 1998, the gates ceased to be the President of the company, and in 2000 resigned
    Hard working, he has achieved not only prosperity of the company, and the title of the richest person. Now the state of the gates is about $ 57 billion</p>

    </div>
<ul class="linki">
 <li><a href="https://en.wikipedia.org/wiki/Bill_Gates" target="_blank">wikipedia</a></li> 
 <li><a href="https://www.gatesfoundation.org/" target="_blank">gatesfoundation</a></li> 
 <li><a href="https://www.gatesnotes.com/" target="_blank">gatesnotes</a></li> 
 <li><a href="https://twitter.com/billgates" target="_blank">twitter</a></li> 
</ul>
</div>







