<div class="conteiner">

    <h1>{{title}}</h1>
    <h2> Вартість : {{cost}}</h2>
    
    <div class="card" style="width: 30rem;">
        <img src="../../assets/ship.jpeg" alt="photo">
        <div class="card" style="width: 30rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Тип : {{tip}}</li>
              <li class="list-group-item">Ширина:{{width}} </li>
              <li class="list-group-item">Довжина:{{height}}</li>
              <li class="list-group-item">Висота:{{top}}</li>
            </ul>
          </div>
      </div>
    </div>
