<div class="clearfix">
    <img src="../../assets/sha.jfif" class="col-md-4  float-md-end mb-3 ms-md-2 mt-4 " alt="Photo">
    <br>
    <p><strong> День 1 :</strong>
      <br>
      <br>
    {{Days}}</p>
  
   
  
    
  </div>

  <div class="clearfix">
    <img src="../../assets/shha.jfif" class="col-md-4  float-md-end mb-3 ms-md-2 mt-4 " alt="Photo">
    <br>
    <p><strong> День 2 :</strong>
      <br>
      <br>
    {{Dayy}}</p>
    <br>
    {{Dayys}}
  </div>


  <div class="clearfix">
    <img src="../../assets/shaa.jfif" class="col-md-4  float-md-end mb-3 ms-md-2 mt-4 " alt="Photo">
    <br>
   <strong>{{End}}</strong> {{price | currency}} 
   <br>  
   <strong>{{Endd}}</strong>
   <ul>
    <li>Проїзд комфортабельним автобусом</li>
    <li>Проживання в безпековому центрі Вашингтона</li>
    <li>Сніданки</li>
    <li>Екскурсія Українською частиною міста</li>
  </ul>
  <strong>{{The}}</strong>
  <ul>
    <li>Вхідні квитки (за бажанням):
        Білий Дім - 100 долларів ; Автобусна дискотека- 50 долларів; Apple - 200 долларів ; Музей Військової техніки - 40 долларів; </li>
    <li>Додаткові екскурсії за бажанням
        Прогулянка на Вертольоті - 200 долларів, екскурсія Українською частиною міста - 20 долларів.</li>
    <li>Особисті витрати</li>
  </ul>

    
  </div>
